/.vs/ProjectEvaluation/demojwt.projects.v7.bin
/.vs/DemoJWT/FileContentIndex/705342a3-8a78-4efb-9173-76bfbdaa9288.vsidx
*.vsidx
*.bin
/DemoJWT/obj/Debug/net6.0/DemoJWT.AssemblyInfo.cs
/DemoJWT/obj/Debug/net6.0/DemoJWT.AssemblyInfoInputs.cache
/DemoJWT/obj/Debug/net6.0/DemoJWT.assets.cache
/DemoJWT/obj/Debug/net6.0/DemoJWT.GeneratedMSBuildEditorConfig.editorconfig
/.gitignore
