/.vs/ProjectEvaluation/demojwt.projects.v7.bin
/.vs/DemoJWT/FileContentIndex/705342a3-8a78-4efb-9173-76bfbdaa9288.vsidx
/.vs/DemoJWT/FileContentIndex/3793b2a5-3c43-4a0f-a154-32db485dfbb7.vsidx
/.vs/DemoJWT/FileContentIndex/dae85374-7208-4911-96c6-8d9596bb0ee2.vsidx
/.vs/DemoJWT/FileContentIndex/e8a3f7de-1278-44a1-b8a3-0e92c01cca52.vsidx
/DemoJWT/obj/Debug/net6.0/DemoJWT.AssemblyInfo.cs
/DemoJWT/obj/Debug/net6.0/DemoJWT.AssemblyInfoInputs.cache
/.gitignore
